* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#header {
  width:100%;
}

#page-title {
  width:100%;
  height:50px;
  text-align: center;
  color: white;
  background-color:#3f5d6b;
  padding-top: 25px;
}

#menu {
  width:100%;
  font-size:40px;
  text-align:center;
  padding: 15px 0 15px 0;
  background-color:#88aaba;
}

#mid-container{
  width:100%;
  margin: 0px auto;
  padding:10px 0 10px 0;
  position:relative;
  height:300px;
  background-color:gray;
}

#article {
  width:70%;
  height: 100%;
  background-color:#a5d1e6;
  float: left;
}
#article h1 {
  text-align:center;
  padding: 5px;
}
#article p {
  padding: 30px;
}
#gallery {
  width:30%;
  height:100%;
  background-color:#678491;
  float:right;
}

#gallery img {
  padding-top: 5px;
  padding-left:10px;
}
img {
  height: 140px;
}
#foot {
  background-color: #bad8e6;
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
